@model List<DQH_DATN.Models.tblSanpham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/layout.cshtml";
}


<div class="tab-content">
    <!-- Start men product category -->
    <div class="tab-pane fade in active" id="men">
        <div class="aa-product-catg">

            <!-- sản phẩm  -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/women/anh1.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
            </li>
        </div>
        <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
    <!-- / men product category -->
    <!-- start women product category -->
    <div class="tab-pane fade" id="women">
        <ul class="aa-product-catg">
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/women/anh1.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
            </li>
        </ul>
        <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
    <!-- / women product category -->
    <!-- start sports product category -->
    <div class="tab-pane fade" id="sports">
        <ul class="aa-product-catg">
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/sports/sport-1.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
            </li>
            <!-- start single product item -->

        </ul>
    </div>
    <!-- / sports product category -->
    <!-- start electronic product category -->
    <div class="tab-pane fade" id="electronics">
        <ul class="aa-product-catg">
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-1.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-2.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-3.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-4.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-hot" href="#">HOT!</span>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-5.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-6.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-7.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span><span class="aa-product-price"><del>150000VNĐ</del></span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
            </li>
            <!-- start single product item -->
            <li>
                <figure>
                    <a class="aa-product-img" href="#"><img src="~/Theme/img/electronics/electronic-8.png" alt="polo shirt img"></a>
                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                        <h4 class="aa-product-title"><a href="#">Sản phẩm mới nhất</a></h4>
                        <span class="aa-product-price">100000VNĐ</span>
                    </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
            </li>
        </ul>
        <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
    <!-- / electronic product category -->
</div>


