
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/MasterPage/layout_login.cshtml";
}

<div class="row">
    <div style="margin-top: 50px; margin-bottom: 50px;"  class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default" >
            <div style="background-color:#FF6666;" class="panel-heading"></div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            Tên đăng nhập <br />
                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
                        </div>
                        <div class="form-group">
                            Mật khẩu <br />
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>
                        <div class="btnLogin" style="text-align:center; ">
                            <button style="background-color: #FF6666; color:white; border:solid 0.2px;">Đăng nhập</button>
                        </div>
                       
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->
<script src="~/Theme/Quanli/js/jquery-1.11.1.min.js"></script>
<script src="~/Theme/Quanli/js/bootstrap.min.js"></script>
